/* Web fonts */

/* Rubik */

@font-face {
   font-family : 'Rubik';
   font-style  : normal;
   font-weight : 400;
   src         : local('Rubik'),
                 local('Rubik-Regular'),
                 url(https://fonts.gstatic.com/s/rubik/v4/9TMYrMQsWjH1a-MkCFFAmg.woff2) format('woff2');
}

@font-face {
   font-family : 'Rubik';
   font-style  : normal;
   font-weight : 400;
   src         : local('Rubik'),
                 local('Rubik-Regular'),
                 url(https://fonts.gstatic.com/s/rubik/v4/_mlO9_1N7oXYhEnEzC2l-g.woff2) format('woff2');
}

@font-face {
   font-family : 'Open Sans';
   font-style  : normal;
   font-weight : 400;
   src         : local('Open Sans'),
                 local('OpenSans'),
                 url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
}

@font-face {
   font-family : 'Open Sans';
   font-style  : normal;
   font-weight : 400;
   src         : local('Open Sans'),
                 local('OpenSans'),
                 url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

/* Open Sans */

/* Universal styles */

* {
   box-sizing : border-box;
}

body {
   position: absolute;
   top: 0;
   margin           : 0;
   color            : lightgray;
   background-color : #1c1b1b;
   font-family      : "Open Sans";
}

h1 {
  font-family: "Rubik";
  text-shadow: 0 1px 0 #000,
               0 2px 0 #666,
               0 3px 0 #555,
               0 4px 0 #444,
               0 5px 0 #333,
               0 6px 1px rgba(0,0,0,1),
               0 0 5px rgba(0,0,0,.2),
               0 1px 3px rgba(0,0,0,.6),
               0 3px 5px rgba(0,0,0,.4),
               0 5px 10px rgba(0,0,0,.5),
               0 10px 10px rgba(0,0,0,.4),
               0 20px 20px rgba(0,0,0,.3);
}

a:link {
  text-decoration: none;
  color: #700e0e;
}
